#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidebar-hr {
  @apply bg-gray-200 dark:bg-gray-800 
  border border-gray-200 dark:border-gray-800 rounded-full
  mx-2;
}